<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script src="../lib/index.js"></script>
</head>
<body>
<div id="app">
  <label><input type="checkbox" v-model="fakeCmyk"/>fake CMYK</label>
  <color-picker v-model="colors" :fake-cmyk="fakeCmyk"></color-picker>
  <textarea style="width:20rem;height:10rem;"
    :value="JSON.stringify(colors,null,2)" ></textarea>
</div>
<script src="index.js"></script>
</body>
</html>
